body{
    background-color: rgb(7,10,32);
    color: rgb(165,167,178);
    margin: 30px 50px;
}

.name{
    font-size: 28px;
    text-align: center;
    border: 2px solid rgb(165,167,178);
    padding: 20px;
    margin: auto;
    width: fit-content;
    min-width: 200px;
}

nav {
    width: 150px;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
    position: fixed;
    border-radius: 10px;
    border: 2px solid rgb(165,167,178);
}
.meniu{
    font-size: 28px;
    margin: 0;
    padding-bottom: 10px;
}
a{
    color: rgb(165,167,178);
    text-decoration: none;
    font-size: 20px;
    margin: 5px 0;
    width: fit-content;
}
.continut{
    margin-top: 30px;
    margin-left: 250px;
}
.title{
    font-size: 28px;
}
.text1, .text2{
    margin-top: 12px;
    font-size: 20px;
}

.images{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.images img{
    width: 350px;
    height: 250px;
}